.canceled {
    opacity: 0.5;
    text-decoration: line-through;
}

/*
TODO: Remove or use
&:not(:first-child) {
    padding-left: 0.1rem;
    margin-left: 0.1rem;

    /*
        border-left: 1px solid #777;
        /*margin-left: 0px;* /
}
*/
