input.stealth {
    background: none;
    border: none;
  }
  
  /* Custom colors */
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    color: #fff !important;
    background-color: #009EDD !important;
    border: .05rem solid #009EDD !important;
  }
  .bg-primary {
    background-color: #009EDD !important;
  }
  .bg-secondary {
    background-color: #206CB2 !important;
  }