.icon-cursor:after {
    background-image: url('/assets/icons/icon-cursor@2x.png');
}

.icon-hand:after {
    background-image: url('/assets/icons/icon-hand@2x.png');
}

.icon-undo:after {
    background-image: url('/assets/icons/icon-undo@2x.png');
}

.icon-redo:after {
    background-image: url('/assets/icons/icon-redo@2x.png');
}

.icon-bold:after {
    background-image: url('/assets/icons/icon-bold@2x.png');
}

.icon-italic:after {
    background-image: url('/assets/icons/icon-italic@2x.png');
}

.icon-underline:after {
    background-image: url('/assets/icons/icon-underline@2x.png');
}

.icon-numbers:after {
    background-image: url('/assets/icons/icon-numbers@2x.png');
}

.icon-erase:after {
    background-image: url('/assets/icons/icon-erase@2x.png');
}

.icon-pen:after {
    background-image: url('/assets/icons/icon-pen@2x.png');
}

.icon-stroke-1:after {
    background-image: url('/assets/icons/icon-stroke-1@2x.png');
}

.icon-stroke-2:after {
    background-image: url('/assets/icons/icon-stroke-2@2x.png');
}

.icon-stroke-3:after {
    background-image: url('/assets/icons/icon-stroke-3@2x.png');
}

.icon-zoom-in:after {
    background-image: url('/assets/icons/icon-zoom-in@2x.png');
}

.icon-zoom-out:after {
    background-image: url('/assets/icons/icon-zoom-out@2x.png');
}

.icon-add:after {
    background-image: url('/assets/icons/icon-add@2x.png');
}

.icon-shapes:after {
    background-image: url('/assets/icons/icon-shapes@2x.png');
}

.icon-link:after {
    background-image: url('/assets/icons/icon-link@2x.png');
}

.icon-list:after {
    background-image: url('/assets/icons/icon-list@2x.png');
}

.icon-bin:after {
    background-image: url('/assets/icons/icon-bin@2x.png');
}

.icon-group:after {
    background-image: url('/assets/icons/icon-group@2x.png');
}

.icon-copy:after {
    background-image: url('/assets/icons/icon-copy@2x.png');
}
