
    .logo {
        margin: 20px;
        border-radius: 5px;
        display: inline-block;
        width: 200px;
        height: 200px;
        color: white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo img {
        display: block;
        max-width: 200px;
        max-height: 200px;
    }

    .logo pre {
        display: block;
        width: 200px;
        overflow-x: scroll;
    }
