.ProposeForm {
    color: white;
    max-width: 500px;
    font-family: Montserrat /* <- TODO: Global*/;
}

.field {
    display: block;
    margin-top: 10px;
}

.field label {
    display: block;
}

.field input,
.field select,
.field textarea {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    font-size: 20px;
    transition: 0.3s ease;

    /*
    TODO: Mark valid/invalid
    */
}

.field input[type='checkbox'] {
    width: auto;
}

.field select option {
    color: white;
    background: #1d1c21;
}

.field textarea {
    height: 120px;
}

/*
TODO:
.field input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}
*/

.submit {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 100px;
}

.button {
    /* TODO: Global buttons */
    display: block;
    width: 200px;
    padding-top: 42px;
    border: none;
    border-radius: 0;
    color: white;
    background: transparent;
    font-size: 20px;
    transition: 0.3s ease;

    text-decoration: none;
    font: 100 18px Montserrat /* <- TODO: Global*/;
    padding: 16px 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.button:hover {
    /* TODO:  Better */
    background-color: white;
    color: black;
}
