.future-event {
    opacity: 1;
}

.past-event {
    opacity: 0.5;
}

/*
.online-event {
}
*/

/*
.offline-event {
}
*/

.canceled-event {
    opacity: 0.5;
    text-decoration: line-through;
}

.event-calendar-link {
    text-decoration: none;
}

/*
TODO: Remove or use
&:not(:first-child) {
padding-left: 0.1rem;
margin-left: 0.1rem;

/*
    border-left: 1px solid #777;
    /*margin-left: 0px;* /
}
*/
