/**
 * Note: This file is used both in frontent (Next.js) app in static bundle and by server for foreign embeddings (like StartupBox)
 */

.future-event {
    opacity: 1;
}

.past-event {
    opacity: 0.5;
}

/*
.online-event {
  No style yet
}
*/

/*
.offline-event {
  No style yet
}
*/

.canceled-event {
    opacity: 0.5;
    text-decoration: line-through;
}

.event-calendar-link {
    text-decoration: none;
}

/*
TODO: Remove or use+scope
&:not(:first-child) {
padding-left: 0.1rem;
margin-left: 0.1rem;

/*
    border-left: 1px solid #777;
    /*margin-left: 0px;* /
}
*/
